* {
    font-family: 'PT Sans';
}

#content {
    margin-left: 1%;
}

#topnav {
    background-color: black;
    overflow: hidden;
}

#topnav a {
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

#topnav a.active {
    color: black;
    background-color: white;
}

#topnav a:hover {
    background-color: gray;
}

.title-section {
    padding: 0px 0px;
}

table {
    margin: auto;
    width: 90%;
    text-align: center;
    border: 1px dotted;
}

tr, td {
    margin: auto;
    width: 30%;
    border: 1px dotted;
}

td:hover {
    background-color: gray;
}