* {
    font-family: 'PT Sans';
    box-sizing: border-box;
}

#content {
    margin-left: 1%;
}

#topnav {
    background-color: black;
    overflow: hidden;
}

#topnav a {
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

#topnav a.active {
    color: black;
    background-color: white;
}

#topnav a:hover {
    background-color: gray;
}

.home-section {
    padding: 0px 0px;
}


.column {
    float: left;
    width: 33.33%;
    padding: 40px;
    height: 300px; 
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.pfp {
    width: 80px;
    float: right;
    margin-right:30px;
    border-radius: 20%;
    border:5px solid white
}

.sidenav {
    height: 100%;
    width: 0;   
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: top 40px;
    transition: 0.4s;
    overflow-x: hidden;
    
}

.dropdown-container {
    display: none;
    background-color: #000000;
    padding-left: 8px;
  }

.sidenav a, .dropdown-btn {
    padding: 7px 7px 7px 32px;
    font-size: 30px;
    display:block;
    transition:0.3s;
    text-decoration:none;
    color: #818181;
    background-color: black;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #D3D3D3;
}

.sidenav .exit {
    top: 0;
    right: 25px;
    font-size: 36px;
    margin: left 50px;
    position: absolute;
}

#main {
    
    padding: 40px;
}

#shift {
    transition:margin-left .4s;
    padding-top:20px;
    padding-left:10px;
}

.menubtn { 
    font-size:30px;
    cursor:pointer; 
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 15px;
    display: inline-block;  
    vertical-align: middle;
}

#lessons {
    font-size: 8px;
}
footer {
	margin-top: 18.5%;
	width: 100%;
	background: #1f3a67ff;
	color: grey;
	text-align: center;
	height: auto;  
	padding: 50px;
}


#logo {
	max-height: 20%;
    height:20%;
	object-fit: scale-down;
}

#github-link {
	opacity: 0.5;
	transition-duration: .3s;
}

#github-link:hover {
	opacity: 1;
}