* {
    font-family: 'PT Sans';
    box-sizing: border-box;
}

#content {
    margin-left: 1%;
}

#topnav {
    background-color: black;
    overflow: hidden;
}

#topnav a {
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

#topnav a.active {
    color: black;
    background-color: white;
}

#topnav a:hover {
    background-color: gray;
}

.home-section {
    padding: 0px 0px;
}


.column {
    float: left;
    width: 33.33%;
    padding: 40px;
    height: 300px; 
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.pfp {
    width: 80px;
    float: right;
    margin-right:30px;
    border-radius: 50%;
    border:5px solid white
}

.sidenav {
    height: 100%;
    width: 0;   
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: top 40px;
    transition: 0.4s;
    overflow-x: hidden;
    
}

.sidenav a {
    padding: 7px 7px 7px 32px;
    font-size: 30px;
    display:block;
    transition:0.3s;
    text-decoration:none;
    color: #818181;
}

.sidenav a:hover {
    color: #D3D3D3;
}

.sidenav .exit {
    top: 0;
    right: 25px;
    font-size: 36px;
    margin: left 50px;
    position: absolute;
}

#main {
    transition: margin-left .4s;
    padding: 20px;
}

.menubtn{ 
    font-size:50px;
    cursor:pointer; 
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
}