* {
    font-family: 'PT Sans';
    box-sizing: border-box;
}

#content {
    margin-left: 1%;
}

#topnav {
    background-color: black;
    overflow: hidden;
}

#topnav a {
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

#topnav a.active {
    color: black;
    background-color: white;
}

#topnav a:hover {
    background-color: gray;
}

.home-section {
    padding: 0px 0px;
}

#section-1 {
    margin-left: 1%;
}

#section-2 {
    margin-left: 1%
}

.column {
    float: left;
    width: 33.33%;
    padding: 40px;
    height: 300px; 
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }