* {
    font-family: 'PT Sans';
}

#topnav {
    background-color: black;
    overflow: hidden;
}

#topnav a {
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

#topnav a.active {
    color: black;
    background-color: white;
}

#topnav a:hover {
    background-color: gray;
}

.home-section {
    padding: 0px 0px;
}